@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication14.Models.Classes

<h1>Class Id - @Model.ClassesId</h1>
<h1>Class Name - @Model.ClassName</h1>
<h1>Class Students - @Model.StudentCount</h1>