@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<WebApplication14.Models.User>
@foreach(var item in Model)
{
    <h1>Student Id - "@item.UserId", @item.FirstName, @item.LastName</h1>
}
