@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model WebApplication14.Models.Grades
<h1>@Model.SubmissionId , @Model.Grade, @Model.GradedBy</h1>