@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" enctype="multipart/form-data" asp-controller="Submission" asp-action="Submit">
    <div class="form-group">
        <div class="col-md-10">
         <p>Upload File</p>
         <input class="form-control" name="file" type="file"/>
       </div>               
    </div> 
    <div class="form-group">
        <div class="col-md-10">
            <input class="btn btn-success" type="submit" value="Submit" />
        </div>
    </div>
</form>